/* @import url('https://fonts.googleapis.com/css?family=Marck+Script'); */
@import url('https://fonts.googleapis.com/css?family=Poor+Story');

*, 
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  color: #0b4e43;
  background: url(../Jungle.jpg);
  font-family: 'Poor Story', cursive;
}

video {
  width: 375px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 10px;
  /* background: rgba(56, 146, 116, 0.562); */
  background: linear-gradient(#47d8aa, #3da3cf);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* box-shadow h-offset v-offset blur spred color */
.container {
  width: 768px;
  height: 429px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgba(83, 204, 164, 0.808);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#start {
  /* color: white; */
  color: #0b4e43;
  background: linear-gradient(#47d8aa, #3da3cf);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 4rem;
  line-height: 5rem;
  border: none;
  margin: 0 auto;
  width: 20rem;
  display: block;
}

#timer {
  /* border: 1px solid black; */
  line-height: 3rem;
  margin-bottom: 1rem;

}

#question {
  /* border: 1px solid black; */
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 1rem;
}

#choices {
  width: 80%;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* padding: 10px 0; */
}

.choice {
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1.5rem;
  line-height: 3.5rem;
  background: linear-gradient(#27dfa59f, #0dac79a9);
  border: none;
  color: #0b4e43;
  /* margin-bottom: .2rem; */
}

.choice:last-child {
  margin-bottom: 0;
}

.choice:hover {
  /* background: linear-gradient(#47d8a9, #2ca07a); */
  /* background: linear-gradient(#47d8a9,#1bb583); */
  background: linear-gradient(#077a55b2, #165f7e91);
  color: white;
}

#msg {
  /* border: 1px solid black; */
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 1rem;
}

#msg2 {
  /* border: 1px solid black; */
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
